#photoprism table.v-table,
#photoprism .v-sheet {
    border-radius: 0;
}

.v-table tbody td,
.v-table tbody td input,
.v-table tbody td select,
.v-table tbody td .v-input,
.v-table tbody td label.v-label,
.v-table tfoot td,
.v-table tfoot td input,
.v-table tbody td select,
.v-table tbody td .v-input,
.v-table tfoot td label.v-label {
    font-weight: 400;
    font-size: 0.825rem;
}

.v-table tbody tr td .v-input,
.v-table tbody tr td .v-input .v-field__input {
    min-height: auto;
    padding: 0;
    margin: 0;
}